@mixin bordes {
  border-radius: 10px;
}
@mixin sombras {
  box-shadow: 10px 7px 16px -1px rgba(0, 0, 0, 0.64);
}

@mixin sizes($widht, $height) {
  width: $widht;
  height: $height;
}

$titulo: antiquewhite;

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --soundcloud: #ff7700;
}

%areas {
  grid-gap: 15px;
  grid-template-columns: auto, auto;
  grid-template-rows: auto;
}

$colors: (
  "primary": #303030,
  "secondary": #a6a6a6,
  "text": antiquewhite,
);

@function color($search) {
  @return map-get($colors, $search);
}
