@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
}

/*estilos etiquetas*/

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url("/Nueve leguas/img/fondoR.jpg");
  font-size: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

img,
svg {
  vertical-align: middle;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 1.25em auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "head head"
    "sidebar mid"
    "bottom bottom";
}
/*grid areas*/
header {
  grid-area: head;
  height: 6em;
  top: 0;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  min-height: 100vh;
}

main {
  grid-area: mid;
  min-height: 100vh;
}

footer {
  grid-area: bottom;
  height: 8em;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
}

/*contenedor flex miembros*/

.container-flex-members {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.container-flex-members__item {
  display: flex;
  margin: 1em 0.5em 1em 0;
}

/*estilos*/

/*estilo texto en footer*/

.footerText {
  font-weight: 500;
  font-size: 1em;
  color: antiquewhite;
  text-align: right;
  padding: 2rem;
}

/*estilo titulos*/

h1 {
  color: antiquewhite;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5em;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

/*elimiar subrayados*/
a:link,
a:visited,
a:hover,
a:active {
  color: #111111;
  text-decoration: none;
}

/*sidebar*/

nav {
  height: 100%;
  width: 12.5em;
  background-color: #a6a6a6;
  border-radius: 10px;
}
nav ul {
  padding-left: 0em;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  line-height: 5.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  font-size: 1.5em;
}

/*transicion-Seleccion sidebar*/

nav ul li a:hover {
  border-left: 10px solid #303030;
  transition: 0.6s;
  background: #303030;
  counter-reset: black (230, 8, 8);
  border-radius: 10px;
}

/*estilo parrafo biografia*/

.biography {
  font-size: 1.5em;
  text-align: left;
  color: antiquewhite;
  margin-left: 0.31rem;
  margin-top: 0.19rem;
}

/*estilo al formulario*/

.form-check-label {
  color: antiquewhite;
}

/*estilo a la tabla - espaciado*/

table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 3px solid silver;
  font-size: 1.5em;
  color: antiquewhite;
  text-align: center;
  margin: 5rem 20rem 10rem 3rem;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 1.25em;
}

/*Estilos seccion miembros*/

.membersP {
  font-size: 1.5em;
  text-align: justify;
  color: antiquewhite;
  margin: 2rem;
}

.membersImg {
  border: #262626;
  border-radius: 10px;
}

.carousel-inner {
  border-radius: 10px;
}

/*Redes Estilo*/

.redes-container {
  display: flex;
  justify-content: right;
  align-items: baseline;
  justify-items: center;
  margin-top: 1rem;
}

.redes-container ul li {
  display: inline-block;
  margin: 0.31rem;
  width: 3.12rem;
  height: 3.12rem;
  text-align: center;
}

.redes-container ul li a {
  display: block;
  padding: 0 0.63rem;
  background: #a6a6a6;
  color: #303030;
  border-radius: 5px;
  line-height: 3.13rem;
  font-size: 1.13em;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.redes-container ul:hover a {
  filter: blur(2px);
}

.redes-container ul li a:hover {
  transform: translateY(-0.1875em) scale(1.05);
  box-shadow: 0px 5px 4.5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}

/*media queries*/

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container-flex-members {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 10px;
  }
  .container-flex-members {
    flex-wrap: wrap;
  }
}
