@import "generales";
@import "operaciones";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 1.25em auto;
  display: grid;
  @extend %areas;
  grid-template-areas:
    "head head"
    "sidebar mid"
    "bottom bottom";
}

/*contenedor flex miembros*/

.container-flex-members {
  display: flex;
  justify-content: space-between;
  flex: 1;
  .container-flex-members__item {
    display: flex;
    margin: 1em 0.5em 1em 0;
  }
}

/*estilos*/

/*estilo texto en footer*/

.footerText {
  font-weight: 500;
  font-size: 1em;
  color: color("text");
  text-align: right;
  padding: 2rem;
}

/*estilo titulos*/

h1 {
  color: $titulo;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5em;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

/*elimiar subrayados*/
a:link,
a:visited,
a:hover,
a:active {
  color: #111111;
  text-decoration: none;
}

/*nav / sidebar*/

nav {
  height: 100%;
  width: 12.5em;
  background-color: color("secondary");
  @include bordes;
}
nav ul {
  padding-left: 0em;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  line-height: 5.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  font-size: 1.5em;
}

/*transicion-Seleccion sidebar*/

nav ul li a:hover {
  border-left: 10px solid color("primary");
  transition: 0.6s;
  background: color("primary");
  @include bordes;
}

/*estilo parrafo biografia*/

.biography {
  font-size: 1.5em;
  text-align: left;
  color: color("text");
  margin-left: 0.31rem;
  margin-top: 0.19rem;
}

/*Estilos seccion miembros*/

.membersP {
  font-size: 1.5em;
  text-align: justify;
  color: color("text");
  margin: 2rem;
}

.membersImg {
  border: color("primary");
  @include bordes;
}

.carousel-inner {
  @include bordes;
}

/*Redes Estilo*/

.redes-container {
  display: flex;
  justify-content: right;
  align-items: baseline;
  justify-items: center;
  margin-top: 1rem;
  ul li {
    display: inline-block;
    margin: 0.31rem;
    @include sizes(3.12rem, 3.12rem);
    text-align: center;
    a {
      display: block;
      padding: 0 0.63rem;
      background: color("secondary");
      color: color("primary");
      border-radius: 5px;
      line-height: 3.13rem;
      font-size: 1.13em;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
      transition: 0.2s;
    }
  }
}

.redes-container .redes-container ul li .redes-container ul:hover a {
  filter: blur(2px);
}

.redes-container {
  ul {
    li {
      a:hover {
        transform: translateY(-0.1875em) scale(1.05);
        box-shadow: 0px 5px 4.5px 0px rgba(0, 0, 0, 0.4);
        filter: none;
      }
      .facebook:hover {
        background: var(--facebook);
      }
      .instagram:hover {
        background: var(--instagram);
      }
      .twitter:hover {
        background: var(--twitter);
      }
      .soundcloud:hover {
        background: var(--soundcloud);
      }
    }
  }
}

/*media queries*/

@media (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .container-flex-members {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 10px;
  }
  header {
    grid-area: head;
  }
  .sidebar {
    grid-area: sidebar;
  }

  main {
    grid-area: mid;
  }

  footer {
    grid-area: bottom;
  }

  .container {
    grid-gap: 15px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "head"
      "sidebar"
      "mid"
      "bottom";
  }

  .container-flex-members {
    flex-wrap: wrap;
  }
}
