@import "generales";
@import "operaciones";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
}
li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  background-image: url("../img/fondoR.jpg");
  font-size: 16px;
}

/*contenedor flex miembros*/

.container-flex-members {
  display: flex;
  justify-content: space-between;
  flex: 1;
  .container-flex-members__item {
    display: flex;
    margin: 1em 0.5em 1em 0;
  }
}

table {
  font-size: 1.2em;
}

/*contenedor logos marcas*/

.container-flex-brands {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  justify-items: center;
}

.container-flex-band {
  display: flex;
}

.imagenBanda {
  @include bordes;
}

/*Grid areas*/

header {
  grid-area: head;
  top: 0;
  margin-bottom: 2em;
}

nav {
  grid-area: sidebar;
  margin-right: 2em;
}

main {
  grid-area: mid;
  margin-left: 1em;
}

footer {
  grid-area: bottom;
  bottom: 0;
  padding-top: 1em;
}

/*Grid container*/

.grid-container {
  display: grid;
  width: 95%;
  max-width: 1400px;
  grid-gap: 20px;
  margin: 1.25em auto;
  @extend %areas;
  grid-template-areas:
    "head head"
    "sidebar mid"
    "bottom bottom";
}

.grid-container-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5em;
}

.grid-container-gallery img {
  width: 100%;
  @include bordes;
}

/*estilo parrafo biografia*/

.biography {
  font-size: 1.7em;
  text-align: left;
  color: color("text");
  margin-top: 0.19rem;
}

/*Estilos seccion miembros*/

.membersP {
  font-size: 1.6em;
  text-align: justify;
  color: color("text");
  margin: 2em;
  padding: 1em;
}

.membersImg {
  @include bordes;
}
.membersImg-shadow {
  box-shadow: 10px 15px 16px -1px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
  @include bordes;
}

/*media queries*/

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .container-flex-members {
    flex-wrap: wrap;
  }

  h2 {
    margin-top: 0.2em;
  }
  table {
    font-size: 1.1em;
  }
}

/*Mobile*/

@media (max-width: 576px) {
  body {
    font-size: 9px;
  }
  header {
    grid-area: head;
  }
  nav {
    grid-area: sidebar;
  }

  main {
    grid-area: mid;
  }

  footer {
    grid-area: bottom;
  }

  .grid-container {
    grid-gap: 20px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "head"
      "sidebar"
      "mid"
      "bottom";
  }

  .grid-container-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.9em;
  }

  .container-flex-members {
    flex-wrap: wrap;
  }

  h1 {
    font-size: 4em;
    margin-bottom: 1em;
  }

  h2 {
    margin-top: 1em;
    font-size: 3em;
  }

  .biography {
    font-size: 2.5em;
    padding: 2em;
  }

  .membersP {
    font-size: 2.3em;
  }
  .footerText {
    font-size: 1.4em;
  }
  table {
    font-size: 1.6em;
  }

  nav {
    width: 100%;
    height: auto;
    ul {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0;
      text-align: center;
      li {
        color: transparent;
        padding: 1em 0.2em 1em 0.2em;
        line-height: 2em;
        font-size: 1.6em;
        letter-spacing: 2px;
        a {
          font-size: 1.5em;
        }
      }
    }
  }
  a:hover {
    width: 100%;
    border-left: 3px solid aqua;
    transition: 0.5s;
  }
}
