@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --soundcloud: #ff7700;
}

.grid-container {
  grid-gap: 15px;
  -ms-grid-columns: auto, auto;
      grid-template-columns: auto, auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

/*nav / sidebar*/
nav {
  width: 11.5em;
  border-radius: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

nav ul li {
  color: aqua;
  line-height: 4.5em;
  padding-left: 1rem;
  padding-right: 1.5rem;
  font-size: 1.7em;
}

nav ul li a {
  font-size: 1em;
  padding-left: 0.4em;
}

nav ul li:hover {
  border-radius: 10px;
  width: 100%;
  border-left: 10px solid transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/*Imagenes*/
img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img,
svg {
  vertical-align: middle;
}

/*estilo texto footer*/
.footerText {
  font-weight: 500;
  font-size: 1em;
  color: antiquewhite;
  text-align: right;
  padding: 2rem;
}

/*estilo titulos*/
h1 {
  color: antiquewhite;
  font-family: "Ubuntu", sans-serif;
  font-size: 3em;
  line-height: 1em;
  letter-spacing: 20px;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
  font-size: 2em;
  letter-spacing: 5px;
  margin-bottom: 1em;
  margin-left: 1em;
}

/*Redes Estilo*/
.redes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  justify-items: center;
  margin-top: 1rem;
}

.redes-container ul li {
  display: inline-block;
  margin: 0.31rem;
  width: 3.12rem;
  height: 3.12rem;
  text-align: center;
}

.redes-container ul li a {
  display: block;
  padding: 0 0.63rem;
  background: #a6a6a6;
  color: #303030;
  border-radius: 5px;
  line-height: 3.13rem;
  font-size: 1.13em;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.redes-container .redes-container ul li .redes-container ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.redes-container ul li a:hover {
  -webkit-transform: translateY(-0.1875em) scale(1.05);
          transform: translateY(-0.1875em) scale(1.05);
  -webkit-box-shadow: 0px 5px 4.5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 4.5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

.redes-container ul li .facebook:hover {
  background: var(--facebook);
}

.redes-container ul li .instagram:hover {
  background: var(--instagram);
}

.redes-container ul li .twitter:hover {
  background: var(--twitter);
}

.redes-container ul li .soundcloud:hover {
  background: var(--soundcloud);
}

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --soundcloud: #ff7700;
}

.grid-container {
  grid-gap: 15px;
  -ms-grid-columns: auto, auto;
      grid-template-columns: auto, auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
  background-image: url("../img/fondoR.jpg");
  font-size: 16px;
}

/*contenedor flex miembros*/
.container-flex-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-flex-members .container-flex-members__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0.5em 1em 0;
}

table {
  font-size: 1.2em;
}

/*contenedor logos marcas*/
.container-flex-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  justify-items: center;
}

.container-flex-band {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagenBanda {
  border-radius: 10px;
}

/*Grid areas*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  top: 0;
  margin-bottom: 2em;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  margin-right: 2em;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: mid;
  margin-left: 1em;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom;
  bottom: 0;
  padding-top: 1em;
}

/*Grid container*/
.grid-container {
  display: -ms-grid;
  display: grid;
  width: 95%;
  max-width: 1400px;
  grid-gap: 20px;
  margin: 1.25em auto;
      grid-template-areas: "head head" "sidebar mid" "bottom bottom";
}

.grid-container-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5em;
}

.grid-container-gallery img {
  width: 100%;
  border-radius: 10px;
}

/*estilo parrafo biografia*/
.biography {
  font-size: 1.7em;
  text-align: left;
  color: antiquewhite;
  margin-top: 0.19rem;
}

/*Estilos seccion miembros*/
.membersP {
  font-size: 1.6em;
  text-align: justify;
  color: antiquewhite;
  margin: 2em;
  padding: 1em;
}

.membersImg {
  border-radius: 10px;
}

.membersImg-shadow {
  -webkit-box-shadow: 10px 15px 16px -1px rgba(0, 0, 0, 0.64);
          box-shadow: 10px 15px 16px -1px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
  border-radius: 10px;
}

/*media queries*/
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .container-flex-members {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  h2 {
    margin-top: 0.2em;
  }
  table {
    font-size: 1.1em;
  }
}

/*Mobile*/
@media (max-width: 576px) {
  body {
    font-size: 9px;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: head;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sidebar;
  }
  main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mid;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: bottom;
  }
  .grid-container {
    grid-gap: 20px;
    -ms-grid-rows: auto auto 1fr auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: "head" "sidebar" "mid" "bottom";
  }
  .grid-container-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0.9em;
  }
  .container-flex-members {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  h1 {
    font-size: 4em;
    margin-bottom: 1em;
  }
  h2 {
    margin-top: 1em;
    font-size: 3em;
  }
  .biography {
    font-size: 2.5em;
    padding: 2em;
  }
  .membersP {
    font-size: 2.3em;
  }
  .footerText {
    font-size: 1.4em;
  }
  table {
    font-size: 1.6em;
  }
  nav {
    width: 100%;
    height: auto;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
    text-align: center;
  }
  nav ul li {
    color: transparent;
    padding: 1em 0.2em 1em 0.2em;
    line-height: 2em;
    font-size: 1.6em;
    letter-spacing: 2px;
  }
  nav ul li a {
    font-size: 1.5em;
  }
  a:hover {
    width: 100%;
    border-left: 3px solid aqua;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
/*# sourceMappingURL=style.css.map */