@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}

/*estilos etiquetas*/

header {
  background-color: #262626;
  height: 6rem;
  top: 0;
  width: 100%;
}

footer {
  background-color: #262626;
  bottom: 0;
  height: 8rem;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*estilo texto en footer*/

.footerText {
  font-weight: 400;
  font-size: 1rem;
  color: azure;
  text-align: right;
  padding-top: 5.5rem;
  padding-right: 4rem;
}

/*estilo titulos*/

.titulo {
  color: azure;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

/*elimiar subrayados*/
a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

/*navlist /sidebar*/

.sidebar {
  background-color: #a6a6a6;
  width: 250px;
  border-radius: 10px;
}

.sidebar ul li a {
  display: flex;
  flex-direction: column;
  line-height: 4.5rem;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
}

/*transicion- seleccion sidebar*/

.sidebar ul li a:hover {
  border-left: 4px solid #0d0d0d;
  transition: 1s;
  background: #303030;
  counter-reset: black;
}

/*imagenes index*/
.imgCarrousel {
  max-width: 100%;
  border-radius: 5px;
}

/*estilo parrafo biografia*/

.biography {
  font-size: x-large;
  text-align: left;
  margin-left: 5px;
}

/*estilo al formulario - aplico flex */

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form fieldset {
  border: 3px solid #303030;
  padding: 3%;
}
.form input {
  background: white;
  border: 3px solid #303030;
  border-radius: 5px 5px 5px 5px;
  color: #303030;
  font-size: 15px;
  padding: 5px;
}
.form button {
  font-size: 15px;
  padding: 5px;
}

/*estilo a la tabla - espaciado*/

table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 3px solid black;
  font-size: large;
  margin: 5rem 20rem 10rem 3rem;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}
/* contenedor flex e items*/

.container-flex {
  display: flex;
  flex-direction: row;
}

.flex-item__1 {
  margin: 1rem 0.5rem 1rem 0;
}

.flex-item__2 {
  margin: 1rem 0.5rem 1rem 0;
}

/*contenedor grid*/

.container-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "guitar a guitar b"
    "drums a drums b"
    "bass a bass b";
}

.guitar {
  grid-area: guitar a;
}
.guitar-item {
  grid-area: guitar b;
}
.drums {
  grid-area: drums a;
}

.drums-item {
  grid-area: drums b;
}

.bass {
  grid-area: bass a;
}

.bass-item {
  grid-area: bass b;
}

/*Estilos seccion miembros*/

.membersP {
  font-size: x-large;
  text-align: justify;
  margin: 2rem;
}

.membersImg {
  border: #262626;
  border-radius: 10px;
}

.carousel-inner {
  border-radius: 10px;
}
