@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #262626;
  height: 8rem;
  top: 0;
}

footer {
  background-color: #262626;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 7rem;
  text-align: center;
}

/*estilo titulos*/

.titulo {
  color: azure;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 1.5rem;
}

/*elimiar subrayados*/
a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

/*navlist /sidebar*/

.sidebar {
  position: fixed;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #a6a6a6;
}

.sidebar ul li a {
  display: block;
  line-height: 80px;
  padding-left: 49px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

/*transicion- seleccion sidebar*/

.sidebar ul li a:hover {
  border-left: 4px solid #0d0d0d;
  transition: 0.5s;
  background: #303030;
  counter-reset: black;
}

/*estilo imagen index*/

.imgCarrousel {
  margin-top: 3rem;
  margin-left: 20rem;
  margin-bottom: 15rem;
  border-radius: 15px;
  width: 1000px;
  height: 700px;
}

/*estilo parrafo biografia*/

.biography {
  font-size: x-large;
  text-align: left;
  margin-left: 300px;
  padding-top: 2rem;
}

/*estilo al formulario - aplico flex */

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form fieldset {
  border: 3px solid #303030;
  padding: 3%;
}
.form input {
  background: white;
  border: 3px solid #303030;
  border-radius: 5px 5px 5px 5px;
  color: #303030;
  font-size: 15px;
  padding: 5px;
}
.form button {
  font-size: 15px;
  padding: 5px;
}

/*estilo a la tabla - espaciado*/

table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 3px solid black;
  font-size: large;
  margin: 5rem 20rem 10rem 3rem;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}

/*estilo texto en footer*/

.footerText {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: azure;
  text-align: right;
  padding-top: 5.5rem;
  padding-right: 5.5rem;
}

/*Flex miembros */

.flex-container {
  display: flex;
  gap: 20px;
  margin: 2rem 1rem 2rem 1rem;
}

.flex-container-parrafo {
  width: 60%;
}
.flex-container-imagen {
  width: 40%;
}

/* Aplicando grid index */

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 280px 3fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

.grid-item-1 {
  grid-area: header;
}

.grid-item-2 {
  grid-area: sidebar;
}

.grid-item-3 {
  grid-area: content;
}

.grid-item-4 {
  grid-area: footer;
}

/*responsive mq*/

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}
